# Virtual environment
venv/
.env/

# Python cache and build
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# IDE settings
.vscode/
.idea/

#local testing files

local.py


# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
